
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'admin@fgluxury.com';
    }

    function isService(data) {
      return data.id is string &&
             data.name is string &&
             data.image is string &&
             data.variants is list;
    }

    function isAddon(data) {
      return data.id is string &&
             data.name is string &&
             data.duration is string &&
             data.price is number;
    }

    match /bookings/{bookingId} {
      allow read, create: if true;
      allow update: if isAdmin();
      allow delete: if false;
    }

    match /services/{serviceId} {
      allow read: if true;
      allow write: if isAdmin() && isService(request.resource.data);
    }

    match /addons/{addonId} {
      allow read: if true;
      allow write: if isAdmin() && isAddon(request.resource.data);
    }

    match /users/{userId}/{document=**} {
      allow read, write: if request.auth.uid == userId;
    }

    match /suggestedStyles/{styleId} {
        allow read: if true;
        allow write: if false;
    }
  }
}
