
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'admin@fgluxury.com';
    }

    match /bookings/{bookingId} {
      allow read, create: if true;
      allow update: if isAdmin();
      allow delete: if false;
    }

    match /services/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /addons/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /users/{userId}/{document=**} {
      allow read, write: if request.auth.uid == userId;
    }

    match /suggestedStyles/{styleId} {
        allow read: if true;
        allow write: if false;
    }
  }
}
