@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 265 39% 25%;
    --foreground: 38 92% 50%;
    --card: 265 39% 30%;
    --card-foreground: 0 0% 98%;
    --popover: 265 39% 25%;
    --popover-foreground: 38 92% 50%;
    --primary: 0 0% 90%;
    --primary-foreground: 0 0% 9%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 215.4 16.3% 46.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 38 92% 81%;
    --accent-foreground: 28 10% 13%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 38 80% 51%;
    --input: 214.3 31.8% 91.4%;
    --ring: 38 92% 81%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 265 39% 25%;
    --foreground: 38 92% 50%;
    --card: 265 39% 30%;
    --card-foreground: 0 0% 98%;
    --popover: 265 39% 25%;
    --popover-foreground: 38 92% 50%;
    --primary: 0 0% 90%;
    --primary-foreground: 0 0% 9%;
    --secondary: 28 9% 22%;
    --secondary-foreground: 0 0% 98%;
    --muted: 28 9% 22%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 38 92% 81%;
    --accent-foreground: 28 10% 13%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 38 80% 51%;
    --input: 28 9% 25%;
    --ring: 38 92% 81%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
